body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: cursive;
  background-color: aqua;
}
.App {
  /* margin: 40px auto; */
  text-align: center;
}
/* Header */
.calculator-header {
  margin: 40px 0px 0px;
  font-size: 24px;
  font-style: italic;
}

.calculator-body {
  max-width: 300px;
  margin: 0 auto 30px;
  /* margin: auto; */
}
.result {
  height: 80px;
  background-color: #d40640;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 34px auto 0px;
}
.result p {
  font-size: 34px;
}
.btnCss {
  display: block;
  background-color: #ffffff;
}
.btnCss button {
  font-size: 24px;
  font-style: italic;
  width: 25%;
  height: 70px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
.special-btns {
  color: #ff3c00;
}
.ans-btn {
  color: green;
}
.footer a {
  text-decoration: none;
  color: #000;
}
.footer a:hover {
  text-decoration: none;
  color: cadetblue;
}
